<not-cabecera></not-cabecera>
<main class="container">
  <div class="row">
    <div class="col">
      <not-aula></not-aula>
    </div>
    <div class="col">
      <not-aula></not-aula>
    </div>
    <div class="col">
      <not-aula></not-aula>
    </div>
  </div>
</main>
<!--<div class="loading">
    <img src="assets/img/loading.svg" alt="cargando">
  </div>-->
