<div class="card">
  <div class="header row">
    <h2 class="col-10">Aula A</h2>
    <div class="col-2 anyadir">
      <a href="#">
        <i class="fa fa-plus-circle"></i>
        <!--<i class="fa fa-minus-circle"></i>-->
      </a>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-bordered tabla-alumnos">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Nota</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-danger">
          <td>Mario</td>
          <td>González</td>
          <td class="text-center">4</td>
          <td>
            <a href="#" class="borrar">
              <i class="fa fa-times-circle"></i>
            </a>
          </td>
        </tr>
        <tr class="table-success">
          <td>Juan</td>
          <td>González</td>
          <td class="text-center">8</td>
          <td>
            <a href="#" class="borrar">
              <i class="fa fa-times-circle"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer totales">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">Nota media</div>
          <div class="card-body numbers">4.5</div>
          <i class="fa fa-smile icono-status icono-ok"></i>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">Máxima nota</div>
          <div class="card-body numbers">4.5</div>
          <i class="fa fa-frown icono-status icono-no-ok"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">Aprobados</div>
          <div class="card-body numbers">40 (100%)</div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">Suspensos</div>
          <div class="card-body numbers">4 (30%)</div>
        </div>
      </div>
    </div>
  </div>
</div>
